body{
font-family:Arial;
text-align:center;
background:#f2f2f2;
padding:40px;
}

h1{
color:#ff5722;
}

input{
padding:10px;
width:80%;
max-width:400px;
margin:10px;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
}

#convertedLink{
margin-top:20px;
font-weight:bold;
}
